:root {
    --rosa-pink: #f67acb;
    --branco: #ffffff;
    --preto-maximo: #050110;
    --preto-light: #1c1d1f;
    --preto-medio: #1a1a1a;
    --cinza-claro: #5c6066;
    --cinza-claro2: #dcdcdc;
    --cinza-escuro: #393c40;
}
